:root {
  --font-family: "Inter", sans-serif;
  --second-family: "HeadlandOne", sans-serif;
  --third-family: "Hammersmith One", sans-serif;
}
ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

h2,
h3,
h4,
p {
  margin: 30px;
}

address {
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}
.hero {
  background-color: rgb(111, 111, 111);
  color: rgb(255, 255, 255);
  width: 1440px;
  height: 740px;
  margin-right: auto;
  margin-left: auto;
  background-image: url("./images/screensaver.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 180px;
  padding-bottom: 180px;
}
.hero-social-links {
  flex-direction: column;
  display: flex;
  gap: 16px;
}
.conteyner {
  width: 1062px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 1px solid red;
}
.header {
  width: 1440px;
  color: rgb(255, 255, 255);
  margin-right: auto;
  margin-left: auto;
  padding-top: 38px;
  padding-bottom: 38px;
  background-image: linear-gradient(
      to right,
      rgba(43, 74, 97, 0.87),
      rgba(43, 74, 97, 0.87)
    ),
    url("./images/bg_heder.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.Trailer {
  width: 1440px;
  height: 741px;
  margin-right: auto;
  margin-left: auto;
  background-image: url("./images/middle.jpg");
  background-position: center;
  background-size: cover;
}
.end {
  width: 1440px;
  height: 741px;
  margin-right: auto;
  margin-left: auto;
  background-image: url("./images/end.png");
  background-position: center;
  background-size: cover;
}
.flex {
  display: flex;
}
.flex-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-list {
  display: flex;
  gap: 38px;
}

.vyter {
  width: 1440px;
  height: 223px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      to right,
      rgba(43, 74, 97, 0.87),
      rgba(43, 74, 97, 0.87)
    ),
    url("./images/vyter.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.freise {
  text-align: center;
}
.footer-list {
  flex-direction: column;
  display: flex;
  gap: 16px;
}
.header-btn {
  width: 141px;
  height: 41px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #26c6ea;
  border: 2px solid #26c7ea;
  border-radius: 35px 0;
  background: #0b0e66;
}
.heroy-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-text {
  width: 298px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}
.flex-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  color: #fff;
}